---
import { ClientRouter } from 'astro:transitions'

import background from '@/assets/background.svg'
import Box from '@/components/Box.astro'
import { DEFAULT_LOCALE } from '@/config'

import { getLocaleTextDirection } from '@/lib/i18n'

export interface Props {
  heading?: string
}

const { heading } = Astro.props

if (Astro.currentLocale) {
  console.warn('WARN: Astro.currentLocale is undefined.')
}

const locale = Astro.currentLocale ?? DEFAULT_LOCALE
---

<!doctype html>
<html lang={locale} dir={getLocaleTextDirection(locale)}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Issue Reproduction</title>
    <ClientRouter />
	</head>
	<body>
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <div id="container">
      <header id="header">
        <h1>Astro Issue Reproduction</h1>
      </header>
      <main>
        <Box heading={heading}>
          <slot />
        </Box>
      </main>
      <footer id="footer">
        <p>2025-01-16</p>
      </footer>
    </div>
	</body>
</html>

<style is:global>
  :root {
    --bg-color: #f8f9fa;
    --card-bg: #ffffff;
    --card-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    --card-radius: 1rem;
    --card-padding: 2rem;
    --font-family: sans-serif;

    --gray-10: hsl(258, 7%, 10%);
    --gray-20: hsl(258, 7%, 20%);
    --gray-30: hsl(258, 7%, 30%);
    --gray-40: hsl(258, 7%, 40%);
    --gray-50: hsl(258, 7%, 50%);
    --gray-60: hsl(258, 7%, 60%);
    --gray-70: hsl(258, 7%, 70%);
    --gray-80: hsl(258, 7%, 80%);
    --gray-90: hsl(258, 7%, 90%);
    --black: #13151A;
    --accent-light: #E0CCFA;
  }

  body {
    margin: 0;
		width: 100%;
		height: 100%;
    font-family: var(--font-family);
    background-color: var(--bg-color);
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }

	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

  #container {
    display: grid;
    min-height: 100svh;
    grid-template-rows: auto 1fr auto;
  }

  #header {
    padding: 1rem;
    text-align: center;
    letter-spacing: -0.025em;
  }

  #footer {
    text-align: center;
    font-weight: bolder;
    font-size: 0.75rem;
  }

	main {
    padding: 1.5rem;
	}
</style>
